<div class="float-column gap-tiny input-container">
  @if(data().label){ <label [for]="id()">{{ data().label }}</label> }
  <div class="input" [class.disabled]="disabled()" [class.active]="value()" (click)="handleActive()">
    @if(data().icon){ <img class="icon" [src]="data().icon" alt="input icon" /> }
    <input type="text" [id]="id()" [value]="value()?.value || ''" (focus)="handleActive()" (blur)="handleBlur()" [placeholder]="data().placeholder ?? ''" [disabled]="disabled()" />
  </div>
  <img class="arrow" [class.active]="activeStatus()" (click)="handleActive()" src="/assets/icons/arrow.svg" alt="arrow" />
  @if(activeStatus()){
  <div class="list router">
    @for (item of data().list; track $index) {
    <div class="padding-small" (click)="handleUpdate(item)">
      <p (click)="handleUpdate(item)">{{ item.value }}</p>
    </div>
    }
  </div>
  }
  <p class="error" [ngClass]="errorStatus() ? 'show' : 'hide'">{{ errorMessage() }}</p>
</div>
